*{margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form#setupForm{ background: #000; padding: 3px; position: fixed; width: 100%; }
      form input{ border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #your_bakaze{ 
      	top:100px;
      	background-color:#F00;
      }

#stageId{
	position:absolute;
	top:500px;
}

#yourKaze{
	position:absolute;
	padding:10px 0;
	text-align:center;
	bottom:0;
	width:100%;
	background-color:#F00;
}

#startWaiting{
	position:absolute;
	height:100px;
	width:200px;
	top:30%;
	text-align:center;
	margin-left:50%;
	left:-100px;
	//border:1px solid #FF0;
}

#tehai{
	position:absolute;
	top:30%;
	z-index:15;
}
#tehai,img{
	margin:5px  5px;
}

form#stage_top{
	top:200px;
}
input#stage_top{
	width:200px;
	height:50px;
	background-color:#666;
	font-size:20px;
}

#chi,#pon,#kan,#ron,#pass,#reach{
	width:100px;
	height:50px;
	text-align:center;
	font-size:25px;
	position:absolute;
	top:550px;
	z-index:5;
/*	background-color:#F00;*/
}

#chi{
	left:50px;
}
#pon{
	left:180px;	
}
#kan{
	left:310px;
}
#ron{
	left:440px;	
}
#pass{
	left:570px;
}
#reach{
	left:700px;
}

#ton_sutehai,#nan_sutehai,#sha_sutehai,#pei_sutehai{
	width:300px;
	height:200px;
	position:absolute;
}
#ton_sutehai{
	top:65%;
	margin-left:50%;
	left:-150px;
}
#nan_sutehai{
	margin-top:50%;
	top:-100px;
	right:10%;
}
#sha_sutehai{
	top:5%;
	margin-left:50%;
	left:-150px;
}
#pei_sutehai{
	margin-top:50%;
	top:-100px;
	left:10%;
}

/*-----------------------------*/
#selectKaze{
	width:700px;
	height:100px;
	position:absolute;
	top:100px;
	margin-left:50%;
	left:-350px;
//	border:1px solid #F00;
	z-index:10;
}

#ton,#nan,#sha,#pei,#stage{
	width:100px;
	height:80px;
	position:absolute;
	font-size:20px;
	text-align:center;
//	border:1px solid #F00;
}

#ton{
	background-color:#F00;
}
#nan{
	left:150px;
	background-color:#FF0;
}
#sha{
	left:300px;
	background-color:#0F0;
}
#pei{
	left:450px;
	background-color:#00F;
}
#stage{
	left:600px;
	background-color:#F0F;
}


div{
	//border:1px dotted #0F0;
}

#stage_monitor{
	position:absolute;
	width:300px;
	height:100px;
	margin-left:50%;
	left:-150px;
	font-size:25px;
/*	border:1px solid #FF0;*/
	margin-top:50%;
	top:-50px;
	text-align:center;
}

#your_turn{
	width:500px;
	height:200px;
	font-size:30px;
	position:absolute;
	margin-left:50%;
	left:-250px;
	text-align:center;
	top:50px;
}

#tehai_img1,#tehai_img2,#tehai_img3,#tehai_img4,#tehai_img5,#tehai_img6,#tehai_img7,#tehai_img8,#tehai_img9,#tehai_img10,#tehai_img11,#tehai_img12,#tehai_img13,#tehai_img14{
	top:66px;
	height:100px;
	float:left;
}

#yakuCulc{
	position:absolute;
	width:800px;
	margin-left:50%;
	left:-400px;
	top:100px;
	height:500px;
	border:1px solid #00F;
}

#yakuButton{
	position:relative;
//	border:1px solid #0FF;
}
div#yakuButton{
	float:left;
	width:100px;
	height:20px;
	background-color:#F00;
	font-size:18px;
	text-align:center;
}