*{margin: 0; padding: 0; box-sizing: border-box; }
      body {
      	font: 13px Helvetica, Arial;
      	background:url("img/bg.jpg");
/*       	background-repeat:no-repeat; */
      	background-size:contain;
      }
      form#setupForm{ background: #000; padding: 3px; position: fixed; width: 100%; }
      form input{ border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #your_bakaze{ 
      	top:100px;
      	background-color:#F00;
      }

#stageId{
	position:absolute;
	top:500px;
}

#yourKaze{
	position:absolute;
	padding:10px 0;
	text-align:center;
	bottom:0;
	width:100%;
	background-color:#F00;
	font-size:20px;
}

#startWaiting{
	position:absolute;
	height:150px;
	width:400px;
	line-height:75px;
	top:40%;
	text-align:center;
	margin-left:50%;
	left:-200px;
	font-size:25px;
	background-color:#A00;
	//border:1px solid #FF0;
}

#tehai{
	position:absolute;
	top:20%;
	z-index:15;
	//border:1px solid #0F0;
}
#tehai,img{
	margin:5px  5px;
}

form#stage_top{
	top:200px;
}
input#stage_top{
	width:200px;
	height:50px;
	background-color:#666;
	font-size:20px;
}
/*-------------------チー、ポン、ロン、パス---------------*/
#chi,#pon,#kan,#ron,#pass,#reach{
	width:100px;
	height:50px;
	text-align:center;
	font-size:25px;
	position:absolute;
	top:550px;
	z-index:8;
}
#chi{
	left:50px;
}
#pon{
	left:180px;	
}
#kan{
	left:310px;
}
#ron{
	left:440px;	
}
#pass{
	left:570px;
}
#reach{
	left:700px;
}
/*------------------鳴き牌-------------------*/
#ton_nakihai,#nan_nakihai,#sha_nakihai,#pei_nakihai{
	width:600px;
	height:80px;
	position:absolute;
/*	border:1px solid #FF0;*/
}
#ton_nakihai{
	top:85%;
	margin-left:50%;
	left:-300px;
}
#nan_nakihai{
	top:40%;
	right:-200px; 
	transform:rotate(-90deg);
}
#sha_nakihai{
	top:0;
	margin-left:50%;
	left:-300px;
}
#pei_nakihai{
	top:40%;
	left:-200px;
	transform:rotate(90deg);
}
#ton_nakihai img,#nan_nakihai img,#sha_nakihai img,#pei_nakihai img{
	width:35px;
}
/*---------------捨て牌関連---------------------*/
#ton_sutehai,#nan_sutehai,#sha_sutehai,#pei_sutehai{
	width:400px;
	height:150px;
	position:absolute;
}

#ton_sutehai img{
	width:40px;
//	height:60px;
}
#nan_sutehai img{
	width:40px;
}
#sha_sutehai img{
	width:40px;
}
#pei_sutehai img{
	width:40px;
}

#ton_sutehai{
	top:60%;
	margin-left:50%;
	left:-200px;
}
#nan_sutehai{
/*	margin-top:50%;
	top:-100px;*/
	top:35%;
	right:5%;
	transform:rotate(-90deg);
}
#sha_sutehai{
	top:10%;
	margin-left:50%;
	left:-200px;
	transform:rotate(-180deg);
}
#pei_sutehai{
	position:absolute;
	top:35%;
	left:5%;
	transform:rotate(90deg);
}

/*-----------------------------*/
#selectKaze{
	width:700px;
	height:100px;
	position:absolute;
	top:100px;
	margin-left:50%;
	left:-350px;
	z-index:5;
}

/*--------------東南西北　選択------------*/
#ton,#nan,#sha,#pei,#stage{
	width:100px;
	height:80px;
	position:absolute;
	font-size:20px;
	text-align:center;
	line-height:80px;
}

#ton{
	background-color:#F00;
}
#nan{
	left:150px;
	background-color:#FF0;
}
#sha{
	left:300px;
	background-color:#0F0;
}
#pei{
	left:450px;
	background-color:#00F;
}
#stage{
	left:600px;
	background-color:#F0F;
}


div{
	//border:1px dotted #0F0;
}

#stage_monitor{
	position:absolute;
	width:300px;
	height:100px;
	margin-left:50%;
	left:-150px;
	font-size:25px;
	//border:1px solid #FF0;
	top:35%;
	text-align:center;
}
#dora img{
	width:40px;
}

#your_turn{
	width:500px;
	height:200px;
	font-size:30px;
		position:absolute;
	margin-left:50%;
	left:-250px;
	text-align:center;
	top:50px;
}

#tehai_img1,#tehai_img2,#tehai_img3,#tehai_img4,#tehai_img5,#tehai_img6,#tehai_img7,#tehai_img8,#tehai_img9,#tehai_img10,#tehai_img11,#tehai_img12,#tehai_img13,#tehai_img14{
	top:66px;
	height:100px;
	float:left;
}

#yakuCulc{
	position:absolute;
	width:800px;
	margin-left:50%;
	left:-400px;
	top:100px;
	height:500px;
//	border:1px solid #00F;
}

#yakuButton{
	position:relative;
	//border:1px solid #0FF;
}
div#yakuCulc{
	float:left;
	width:100px;
	height:20px;
//	background-color:#F00;
	//border:1px solid #FF0;
	font-size:18px;
	text-align:center;
}

#next_game{
	position:absolute;
	width:100px;
	height:80px;
	text-align:center;
	top:400px;
	margin-left:50%;
	left:-50px;
}

#1yaku,#2yaku,#3yaku,#4yaku,#5yaku,#6yaku,#7yaku,#8yaku,#9yaku,#10yaku,#11yaku,#12yaku,#13yaku{
	position:absolute;
	width:60px;
	height:30px;
	background-color:#F00;
	//border: 1px solid #FF0;
}
/*-------------リーチ棒---------------*/
#ton_reach,#nan_reach,#sha_reach,#pei_reach{
	position:absolute;
	width:130px;
	height:15px;
}
#ton_reach{
	top:58%;
	margin-left:50%;
	left:-65px;
}
#nan_reach{
	top:45%;
	right:26%;
	transform:rotate(-90deg);
}
#sha_reach{
	top:32%;
	margin-left:50%;
	left:-65px;
}
#pei_reach{
	top:45%;
	left:26%;
	transform:rotate(90deg);
}

/* --------------------------------- */
#game_end_monitor{
	position:absolute;
	left:150px;
	font-size:20px;
}