*{margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form#setupForm{ background: #000; padding: 3px; position: fixed; width: 100%; }
      form input{ border: 0; padding: 10px; width: 90%; margin-right: .5%; }
      form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
      #your_bakaze{ 
      	top:100px;
      	background-color:#F00;
      }

#stageId{
	position:absolute;
	top:500px;
}

#yourKaze{
	position:absolute;
	padding:10px 0;
	text-align:center;
	bottom:0;
	width:100%;
	background-color:#F00;
}

#startWaiting{
	position:absolute;
	height:100px;
	width:200px;
	top:30%;
	text-align:center;
	margin-left:50%;
	left:-100px;
	border:1px solid #FF0;
}